<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"E:\workSpace_jsp\mybatis_dvd\WebRoot\mybatis-3-mapper.dtd">
<mapper namespace="com.jinglun.dao.PageMapper">
	<cache></cache>
	<select id="findAllDea" resultType="Dealer">
		SELECT * FROM DEALER
	</select>
	<select id="findAllDra" resultType="DrankA">
		SELECT * FROM DRANKA
	</select>
	<select id="findAllDrb" resultType="DrankB">
		SELECT db.daId,db.dbName,db.dbPrice,db.dbImgUrl FROM drankb db ORDER BY stock DESC LIMIT 10
	</select>
	<select id="findNotice" resultType="Notice">
		select N.notId,N.notContent,N.notTime from NOTICE N ORDER BY N.notTime DESC LIMIT 3
	</select>
	<select id="findDrankBById" resultType="DrankB">
		SELECT * FROM DRANKB where dbid=#{id}
	</select>
	<select id="findDbImgById" resultType="Imgurl">
		SELECT * FROM imgurl where imgid=#{id}
	</select>
	<select id="findHotDB" resultType="DrankB">
		SELECT * FROM DRANKB where dbpro=#{id}
	</select>
	<select id="findDBByDaid" resultType="DrankB">
		SELECT * FROM DRANKB where daid=#{id}
	</select>
</mapper>